<!DOCTYPE html>
<!-- This repository was developed with funding from the National Institute of Mental Health (NIMH),
grant # 1R01MH116156 awarded to Dr. Jessica L. Nielson, PhD at the University of Minnesota.
©2024 Regents of the University of Minnesota. All rights reserved.

This repository is open source and available under Attribution-NonCommercial-NoDerivatives (CC BY-NC-SA):
(https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en) -->
<html>
  <head>
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/StyleSheet.css')}}" type="text/css">
  </head>
<style>
  body {
    background-color:var(--color-3);
    color: black;
  }
</style>
<body>


<H1> Merge Only </H1>
  <form action="http://localhost:5271">
    <input type="submit" value="Home">
  </form>
<br>
<form method="POST">

<br>
<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">

    Are you merging based on values in columns (choose column) or are you stacking the datasets (choose row)?
    {% for subfield in form.binding %}
      <tr>
        <td>{{ subfield  }}</td>
        <td>{{  subfield.label  }}</td>
      </tr>
    {% endfor %}
    <br /><br />


    Enter the name of the column that contains the GUIDs:  {{  form.id_col  }} <br /> <br />

    Enter the name of the column that contains the time points (if applicable): {{  form.date_col  }} <br /><br />

    Enter the name to call the merged file: {{  form.savename  }} <br /><br />

    {{  form.execute  }}

</form>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <!-- <center> -->
      <ul class=flashes style="list-style-type:none">
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
      </ul>
    <!-- </center> -->
      {% endif %}
    {% endwith %}
  </div>
</div>
</body>
</html>
